<%= form_with(model: @task, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :expired_at %>
    <%= f.date_select :expired_at, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.label :waiting %>
    <%= f.radio_button :state, :waiting %>
    <%= f.label :working %>
    <%= f.radio_button :state, :working %>
    <%= f.label :completed %>
    <%= f.radio_button :state, :completed %>
  </div>
  <div class="form-group">
    <%= f.label :priority %>
    <%= f.label :low %>
    <%= f.radio_button :priority, :low %>
    <%= f.label :medium %>
    <%= f.radio_button :priority, :medium %>
    <%= f.label :high %>
    <%= f.radio_button :priority, :high %>
  </div>
  <% if action_name == :new %>
    <div class="form-group">
      <% labels.each do |label| %>
        <%= f.check_box :label_ids, { multiple: true, checked: label[:checked],
                                                      disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <label style="background-color: yellow"><%= label.name %></label>
      <% end %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.collection_check_boxes :label_ids, labels, :id, :name %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>  
  </div>
<% end %>