<h1><%= t('task.index.name') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('task.title') %></th>
      <th><%= t('task.content') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to t('task.show.name'), task_path(task.id) %></td>
        <td><%= link_to t('task.edit.name'), edit_task_path(task.id) %></td>
        <td><%= link_to t('task.delete'), task_path(task.id), method: :delete,
                                                    data: {confirm: "本当に削除しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('task.new.name'), new_task_path %>