<div class="row">
  <h1 class="page-title"><%= t('task.show.name') %></h1>
  <div class="show-wrapper col-center col-md-6 col-xs-6">
    <h3>
      <span><%= t('task.title') %>:</span> <%= @task.title %>
    </h3>
    <h3>
      <span><%= t('task.content') %>:</span> <%= @task.content %>
    </h3>
    <h3>
      <span><%= t('task.expired_at') %>:</span> <%= @task.expired_at %>
    </h3>
    <h3>
      <span><%= t('task.state') %>:</span> <%= @task.state_i18n %>
    </h3>
    <h3>
      <span><%= t('task.priority') %>:</span> <%= @task.priority_i18n %>
    </h3>
    <div class="back-button row">
      <%= link_to t('task.back'), tasks_path, class: "btn btn-default col-md-12"  %>
    </div>
  </div>
</div>