<div class="row">
  <h1 class="page-title">管理画面ユーザー一覧</h1>
  <div class="tasks-wrapper col-md-6 col-xs-6 col-center">
    <div class="page-navi">
     <%= paginate @users %>
    </div>

    <ul class="col-center">  
      <% @users.each do |user| %>
          <li class="col-md-6 col-6">
              <%= link_to user.name, [:admin, user] %>(<%= user.tasks.count %>) <%= "(管理者)" if user.admin? %>
              / <%= link_to "削除", admin_user_path(user), 
                                    method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
