<div class="row">
  <h1 class="page-title"><%= t('user.show.name') %></h1>
  <div class="show-wrapper col-center col-md-12 col-xs-12">
    <h3>
      <span><%= t('user.name') %>:</span> <%= @user.name %> <%= "(管理者)" if @user.admin? %>
    </h3>
    <h3>
      <span><%= t('user.email') %>:</span> <%= @user.email %>
    </h3>
    <div class="edit-button row">
      <%= link_to t('user.edit.name'), edit_admin_user_path(@user), class: "btn btn-default col-md-12"  %>
    </div>
    <div class="back-button row">
      <%= link_to t('task.back'), admin_users_path, class: "btn btn-default col-md-12"  %>
    </div>
  </div>
  <div class="table-container col-md-12">
    <table class="col-center">
      <thead>
        <tr>
          <th><%= t('task.title') %></th>
          <th><%= t('task.content') %></th>
          <th><%= t('task.expired_at') %></th>
          <th><%= t('task.state') %></th>
          <th><%= t('task.priority') %></th>
        </tr>
      </thead>
      <tbody>
        <% @user.tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.expired_at %></td>
            <td><%= task.state_i18n %></td>
            <td><%= task.priority_i18n %></td>
            <td><%= link_to t('task.show.name'), task_path(task.id) %></td>
            <td><%= link_to t('task.edit.name'), edit_task_path(task.id) %></td>
            <td><%= link_to t('task.delete'), task_path(task.id), method: :delete,
                                                                  data: {confirm: t('task.index.sure?')} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
